<div class="post">
  <div class="post-author-name">{{ post.createdBy.username }}</div>

  <div class="post-author-photo" [ngStyle]="{ 'background-image': 'url(' + post.createdBy.photoUrl + ')' }"></div>
  <div class="post-date">{{ postDate }}</div>

  <div class="post-user-like" (click)="like()">
    <i nz-icon nzType="heart" [nzTheme]="post.liked ? 'fill' : 'outline'"></i>
  </div>

  <p class="post-text" [innerHTML]="post.message.text.content"> </p>

  <div class="post-attachements" *ngFor="let element of post.message.attachements">
    <ng-container [ngSwitch]="element.type">
      <ng-container *ngSwitchCase="'image'">
        <app-post-attachement-image [element]="element"></app-post-attachement-image>
      </ng-container>
      <ng-container *ngSwitchCase="'video'">
        <app-post-attachement-video [element]="element"></app-post-attachement-video>
      </ng-container>
      <ng-container *ngSwitchCase="'youtube'">
        <app-post-attachement-youtube [element]="element"></app-post-attachement-youtube>
      </ng-container>
      <ng-container *ngSwitchCase="'audio'">
        <app-post-attachement-audio [element]="element"></app-post-attachement-audio>
      </ng-container>
    </ng-container>
  </div>
  <div #anchor></div>
</div>
