<nz-modal [(nzVisible)]="isVisible" nzTitle="Nouvelle room" (nzOnCancel)="onCancel()" (nzOnOk)="onOk()">
  <div *nzModalContent>
    <form nz-form nzLayout="vertical" [formGroup]='createRoomForm'>
      <nz-form-item>
        <nz-form-label nzFor="type">Type</nz-form-label>
        <nz-form-control nzErrorTip="Type obligatoire">
          <nz-select formControlName="type" required>
            <nz-option nzValue="text" nzLabel="Libre"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="name">Nom de la room</nz-form-label>
        <nz-form-control nzErrorTip="Nom obligatoire">
          <input class="ant-input" formControlName="name">
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>


