<div class="login">
  <form nz-form nzLayout="vertical" [formGroup]="form" (submit)="submit()">
    <nz-form-item>
      <nz-form-label nzFor="username" nzRequired>Username</nz-form-label>
      <nz-form-control [nzErrorTip]="confirmUser">
        <input class="ant-input" type="text" formControlName="username" placeholder="Nom d'utilisateur">
        <ng-template #confirmUser let-control>
          <ng-container *ngIf="control.hasError('required')">Please enter a username</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password" nzRequired>Mot de passe</nz-form-label>
      <nz-form-control [nzErrorTip]="confirmPassword">
          <input class="ant-input" type="password" formControlName="password" placeholder="Mot de passe" >
          <ng-template #confirmPassword let-control>
            <ng-container *ngIf="control.hasError('required')">Please enter a password</ng-container>
          </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control >
        <button class="login-button" nzType="submit" nz-button nzType="default" [disabled]="form.invalid"
          (submit)="submit()">Connexion</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <p class="divider">Pas encore enregistré ?</p>

  <button class="register-button" nz-button nzType="primary" (click)="goToRegistration()">Créer un compte</button>
</div>
